@font-face {
font-family: "CustomFont";
src: url("./fonts/webfontkit-gyparody/gyparody-webfont.woff") format("woff");
}


body {
   font-family: "CustomFont", Helvetica, Arial, sans-serif;
   font-size: 200px;
   line-height: 1.428571429;
   color: #FFFFFF;
   background-color: #1F19AB;
   background-image: url(../images/party.gif);
   background-repeat: repeat;
   text-align: center;
}

.jeopardytitle {
  height: 2em;
  line-height: 2em;
}

.homebutton {
  display: inline-block;
  border-radius: 4px;
  background-color: #D69F4C;
  border: none;
  text-align: center;
  font-size: 20px;
  padding: 1em;
  width: 15%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align: middle;
}
