@font-face {
font-family: "CustomFont";
src: url("./fonts/webfontkit-gyparody/gyparody-webfont.woff") format("woff");
}

body {
	font-family: "Arial";
	font-size: 50px;
	line-height: 1.428571429;
	color: #FFFFFF;
	background-color: #1F19AB;
	text-align: center;
}

h1 {
	margin-top: 75px;
	font-family: "CustomFont";
}

p {
	font-family: "Arial";
}


.jeopardylogin{
	font-family: "CustomFont";
	src: url("./fonts/webfontkit-gyparody/gyparody-webfont.woff") format("woff");
	font-size: 100px;
	line-height: 1.428571429;
	color: #FFFFFF;
	height: 1em;
	line-height: 0.5em;
}

.login-page {
  width: 5em;
  padding: 5% 0 0;
  margin: auto;
}
.form {
  position: relative;
  background: #FFFFFF;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.9), 0 10px 10px 0 rgba(0, 0, 0, 0.9);
  border-radius: 20px;
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 10px;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
	font-family: "Arial";
}
.form .message a {
  color:#1F19AB;
  text-decoration: none;
}

.form .errmessage {
  color: red;
  font-size: 14px;
}
