@font-face {
font-family: "CustomFont";
src: url("./fonts/webfontkit-gyparody/gyparody-webfont.woff") format("woff");
}

body {
	line-height: 1.428571429;
	background-color: #1F19AB;
	text-align: center;
	overflow: auto;
}

form {
  text-align: left;
}

h1 {
	font-family: "CustomFont", Helvetica, Arial, sans-serif;
	font-size: 100px;
	padding: 20px;
	padding-top: 30px;
  color: #FFFFFF;
}

h2 {
	font-size: 50px !important;
}

.whiteBox {
  position: relative;
  background: white;
  margin: 0 auto 175px;
  padding: 45px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7), 0 15px 15px 0 rgba(0, 0, 0, 0.7);
  border-radius: 20px;
	width: 75%;
	height: auto;
}

button {
	margin-bottom: 40px;
}

.btn-primary {
    background-color: #1F19AB !important;
}

.btn-primary:hover {
    background-color: #1F50FF !important;
}

.cover {
  object-fit: cover;
  width: 200px;
  height: 200px;
	border-radius: 50%;
}

.odometer.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition-duration: 0.75s !important;
    -moz-transition-duration: 0.75s !important;
    -ms-transition-duration: 0.75s !important;
    -o-transition-duration: 0.75s !important;
    transition-duration: 0.75s !important
}
