body {
	font-family: "CustomFont", Helvetica, Arial, sans-serif;
	font-size: 50px;
	line-height: 1.428571429;
	color: #FFFFFF;
	background-color: #1F19AB;
	text-align: center;
}

.backButton {
	width: 100%;
	display: block;
	float:left;
	margin-top: 25px;
}

.jeopardyfind{
	font-family: "CustomFont";
	src: url("./fonts/webfontkit-gyparody/gyparody-webfont.woff") format("woff");
	font-size: 100px;
	line-height: 1.428571429;
	color: #FFFFFF;
	height: 1em;
	line-height: 1em;
}