@font-face {
  font-family: "CustomFont";
  src: url("./fonts/webfontkit-triumvirate/triumvirate_extra_compressed_regular-webfont.woff") format("woff");
}

body {
   background-color: white;
}

table {
  margin: auto;
  border-collapse: collapse;
  background-color: #1F19AB;

}
td,th {
  width:100vw;
  height:15.8vh;
  border:8px solid black;
  text-align:center;
  font-size:30px;
  background-color: #1F19AB;
}

th {
  color: white;
}

td {
  cursor: pointer;
  font-family: "CustomFont", Helvetica, Arial, sans-serif;
  font-size: 80px;
  color: #D69F4C;
}
td:hover {
  color:white;
}

.card.open {

}

.card.disable {
  cursor: default;
  opacity: 0;

}

html, body {
  margin: 0;
  height: 100%;
}
