@font-face {
  font-family: "CustomFont";
  src: url("./fonts/webfontkit-triumvirate/triumvirate_extra_compressed_regular-webfont.woff") format("woff");
}

body {
   background-color: white;
}

table {
  margin:auto;
  border-collapse:collapse;
}
td,th {
  cursor:pointer;
  width:100vw;
  height:15.8vh;
  border:8px solid black;
  text-align:center;
  font-size:50px;
  background-color: #1F19AB;
}

th {
  color: white;
}

td {
  font-family: "CustomFont", Helvetica, Arial, sans-serif;
  font-size: 100px;
  color: #D69F4C;
}
td:hover {
  color:white;
}

html, body {
  margin: 0;
  height: 100%;
}
