@font-face {
  font-family: "CustomFont";
  src: url("./fonts/webfontkit-triumvirate/triumvirate_extra_compressed_regular-webfont.woff") format("woff");
}

body {
   background-color: white;
}

table {
  margin: auto;
  border-collapse: collapse;
  background-color: #1F19AB;
  table-layout: fixed;

}
td,th {
  width:100vw;
  height:15.8vh;
  border:8px solid black;
  text-align:center;
  font-size:30px;
  background-color: #1F19AB;
}

th {
  color: white;
}

td {
  cursor: pointer;
  font-family: "CustomFont", Helvetica, Arial, sans-serif;
  font-size: 80px;
  color: #D69F4C;
  align: center;
  vertical-align: middle;
}
td:hover {
  color:white;
}

.cardtry {
  background-color: white;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;

}

.card.show {
  font-size: 30px;
  color: white;
}

.card.enable {
  transform: scale(3);
}

.card.disable {
  cursor: default;
  opacity: 0;

}

.card.fullscreen {
  width: calc(100vw - 30px);
  height: calc(100vh - 30px);
}

html, body {
  margin: 0;
  height: 100%;
}
