@font-face {
font-family: "CustomFont";
src: url("./fonts/webfontkit-gyparody/gyparody-webfont.woff") format("woff");
}


body {
   font-family: "CustomFont", Helvetica, Arial, sans-serif;
   font-size: 200px;
   line-height: 1.428571429;
   color: #FFFFFF;
   background-color: #1F19AB;
   text-align: center;
}

.jeopardymenu {
  height: 2em;
  line-height: 2em;
}