body {
	font-family: "CustomFont", Helvetica, Arial, sans-serif;
	font-size: 50px;
	line-height: 1.428571429;
	color: #FFFFFF;
	background-color: #1F19AB;

	text-align: center;
}

.jeopardyaccount{
	font-family: "CustomFont";
	src: url("./fonts/webfontkit-gyparody/gyparody-webfont.woff") format("woff");
	font-size: 100px;
	line-height: 1.428571429;
	color: #FFFFFF;
	height: 1em;
	line-height: 1em;
}

.backImg {
	margin: 50px 50px 100px 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
}

.leaderboardTable{
	margin-top: 150px;
	border-collapse: collapse;
	width: 100%;
	color: #ff8000;
	text-align: center;
}

.signupboard {
	width: 20em;
	height: 9em;
	background-color: rgba(0,0,0,0.5);
	padding: 50px;
	border-radius: 100px;
	display: block;
}

.backButton {
  display: inline-block;
  border-radius: 4px;
  background-color: #D69B00;
  border: none;
  text-align: center;
  font-size: 20px;
  padding: 1em;
  width: 15%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align: middle;
}

.passwordToolTip {
	position: relative;
 	display: inline-block;
 	

}

.passwordToolTip .passwordToolTipText {
	visibility: hidden;
	width: 300px;
	background-color: grey;
	color: #fff;
	text-align: center;
	padding: 5px 5px;
	border-radius: 6px;
	font-size: 10px;
	 

	position: absolute;
	z-index: 1;
	top: 20px;
	left: 105%;


}

.passwordToolTip:hover .passwordToolTipText {
	visibility: visible;
}

.signupForm {
	display: inline-block;
	float: center;
	width: 500px;
}

.signupForm label {
	float: left;
}

.floatInput {
	float: right;
	margin-top: 30px;
}

#password {
	margin-left: 90px;
}

