@font-face {
font-family: "CustomFont";
src: url("./fonts/webfontkit-gyparody/gyparody-webfont.woff") format("woff");
}

body {
	line-height: 1.428571429;
	color: #FFFFFF;
	background-color: #1F19AB;
	text-align: center;
}

h1 {
	font-family: "CustomFont", Helvetica, Arial, sans-serif;
	font-size: 100px;
	padding: 20px;
	padding-top: 30px;
}

.profile {
  position: relative;
  background: white;
  margin: 0 auto 175px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7), 0 15px 15px 0 rgba(0, 0, 0, 0.7);
  border-radius: 20px;
	width: 75%;
	height: auto;
}

.button {
	font-size: 10px;
}

/* .backImg {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
}

.leaderboardTable{
	margin-top: 100px;
	border-collapse: collapse;
	width: 100%;
	color: #ff8000;
	text-align: center;
}

.leaderboard {
	margin-top: 5em;
	width: 1000px;
	height: 1000px;
	background-color: rgba(0,0,0,0.5);
	padding: 50px;
	border-radius: 100px;
}

.backButton {
	width: 100%;
	display: block;
	float:left;
	margin-top: 25px;
}

.jeopardyleaderboard{
	font-family: "CustomFont";
	src: url("./fonts/webfontkit-gyparody/gyparody-webfont.woff") format("woff");
	font-size: 100px;
	line-height: 1.428571429;
	color: #FFFFFF;
	height: 1em;
	line-height: 1em;
} */
